@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.profile-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
  }
/* Default button style */
button {
  font-family: 'Silkscreen', sans-serif;
  color: black;
  background-color: #f0f0f0;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect: invert colors and increase border */
button:hover {
  color: #f0f0f0; /* Invert text color */
  background-color: black; /* Invert background color */
  border: 7px solid #f0f0f0; /* Increase border size */
}

  /* Fade-in animation */
@keyframes fadeInButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade-out animation */
@keyframes fadeOutButtons {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
 
  button:disabled {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  